body {
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 36px;
  background: #000000 url("../img/background-image.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  border-bottom: 1px solid #2f3334;
  margin-bottom: 58px;
}
.main-nav__wrapper {
  width: 1170px;
  padding: 0 215px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.main-nav__items {
  margin: 0;
  width: 800px;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.main-nav__item a {
  padding-right: 25px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  min-height: 40px;
  padding-top: 5px;
}
.main-nav__item--enter a {
  display: block;
  padding-left: 20px;
  background: url(../img/user-icon.svg) no-repeat;
  background-position: 5px 50%;
}
.main-nav__user-items {
  margin: 0;
  width: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  list-style: none;
  padding-right: 0;
}
.main-nav__user-item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  min-height: 40px;
  padding-top: 5px;
  padding-left: 25px;
}
.main__wrapper {
  width: 1170px;
  padding: 0 215px;
  margin: 0 auto;
  position: relative;
}
.main__scroll-btn {
  display: block;
  position: absolute;
  top: 44%;
  right: 43px;
}
.page-desc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 60px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 220px;
}
.page-desc__search {
  height: 40px;
  width: 280px;
}
.page-desc__search input {
  display: block;
  color: #ffffff;
  padding-left: 40px;
  height: 40px;
  width: 260px;
  border: 1px solid #46494a;
  background: transparent;
  border-radius: 20px;
  background: url(../img/search-icon.svg) no-repeat;
  background-position: 15px 50%;
}
.page-desc__phone {
  width: 360px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-desc__phone b {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.page-desc__phone a {
  display: block;
  height: 30px;
  width: 150px;
  background: #579ac5;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
}
.logo {
  display: -ms-flexbox;
  display: flex;
  width: 405px;
  height: 53px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.logo a {
  display: block;
  height: 53px;
}
.logo__text {
  width: 200px;
  font-size: 14px;
  line-height: 20px;
}
.page-title {
  width: 680px;
  margin-bottom: 260px;
}
.page-title__title {
  font-size: 40px;
  line-height: 60px;
  font-weight: normal;
  margin-bottom: 20px;
}
.page-title__btn {
  position: relative;
  display: block;
  width: 198px;
  padding-left: 40px;
  height: 48px;
  border: 1px #404143 solid;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 48px;
}
.page-title__btn svg {
  position: absolute;
  top: 16px;
  left: 20px;
}
.features {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 80px;
  margin-bottom: 50px;
}
.features__item {
  position: relative;
  width: 245px;
  min-height: 55px;
  padding-left: 70px;
  margin-right: 85px;
}
.features__item svg {
  position: absolute;
}
.features__item:nth-child(3n+3) {
  margin-right: 0;
}
.features__item-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 4px;
}
.features__item-addition-text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.features__item--parts svg:first-of-type {
  left: 4px;
  top: 2px;
}
.features__item--parts svg:last-of-type {
  left: 18px;
  top: 24px;
}
.features__item--installment svg:first-of-type {
  left: 3px;
  top: 10px;
}
.features__item--installment svg:last-of-type {
  left: 35px;
  top: -2px;
}
.features__item--delivery svg:first-of-type {
  left: 6px;
  top: 13px;
}
.features__item--delivery svg:last-of-type {
  left: 11px;
  top: 0;
}
.page-footer {
  margin-top: 45px;
}
